.sa {
  opacity: 0;
  transition: all .5s ease;
}
 
.sa.show {
  opacity: 1;
  transform: none;
}

.sa--lr {
  transform: translate(-100px, 0);
}
 
.sa--rl {
  transform: translate(100px, 0);
}
 
.sa--up {
  transform: translate(0, 100px);
}
 
.sa--down {
  transform: translate(0, -100px);
}
 
.sa--scaleUp {
  transform: scale(.5);
}
 
.sa--scaleDown {
  transform: scale(1.5);
}
 
.sa--rotateL {
  transform: rotate(180deg);
}
 
.sa--rotateR {
  transform: rotate(-180deg);
}


.contents {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

.line {
    position: absolute;
    top: 0;
    // left: 0;
    bottom: -120px;
    margin: auto;
    width: 0;
    height: 5px;
    background: #EC4E20;
}

.no1>.line {
  left: 0;
}

.no2>.line {
  right: 0;
}

.no3>.line {
  left: 0;
  right: 0;
}


.no4>.line {
  left: -145px;
  bottom: -383px;
  transform: rotate(25deg);
}





/*ハンバーガーメニュー*/
.hamburger {
    display: none;
    width: 25px;
    align-self: center; /*フレックスアイテムのクロス軸方向の揃え位置を指定 rowでもcolumnでも便利*/
    margin-left: 20px;
    cursor: pointer;
}

.hamburger span {
    position: relative;
    display: block;
}

.hamburger span:before {
    content: "";
    position: absolute;
    left: 0;
    top: -9px;
}
.hamburger span:after {
    content: "";
    position: absolute;;
    left: 0;
    top: 9px;
}

.hamburger span,
.hamburger span:after,
.hamburger span:before {
    width: 28px;
    height: 5px;
    background-color: #fff;
    transition: all 0.5s;
    backface-visibility: hidden; /*3D空間で変形する要素の背面の表示方法を指定する*/
    border-radius: 2px;
}
.hamburger.on span {
    background-color: transparent;
}

.hamburger.on span:before {
    transform: rotate(45deg) translate(5px, 5px);
}

.hamburger.on span:after {
    transform: rotate(-45deg) translate(7px, -8px);
}

.swiper-slide > p {
    display: block;
    width: 300px;
    word-wrap: break-word;
}

#drower-bg {
    display: none;
    position: fixed;
    top: 80px;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, .5);
}

.drower {
    display: none;
    position: absolute;
    top: 80px;
    left: -500px;
    width: 200px;
    height: 400px;
    background-color: rgba(0, 0, 0, .5);
    transition-duration: 600ms;
    padding: 15px;
    box-sizing: border-box;
    z-index: 51;
}

.drower li {
    padding: 10px;
}

.drower li:hover {
    background-color: rgba(255, 255, 255, 0.6);
    cursor: pointer;
}

.drower li > i {
    margin-right: 10px;
}
.drower.on {
    left: 0;
    transition-duration: 600ms;
}


